/*
 * cryptdlg dll resources
 *
 * Copyright 2008 Juan Lang
 * Copyright 2016 Henry Tang Ih
 * Translation sync to Wine by Aobi Chan CL 2020
 *
 * This library is free software; you can redistribute it and/or
 * modify it under the terms of the GNU Lesser General Public
 * License as published by the Free Software Foundation; either
 * version 2.1 of the License, or (at your option) any later version.
 *
 * This library is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
 * Lesser General Public License for more details.
 *
 * You should have received a copy of the GNU Lesser General Public
 * License along with this library; if not, write to the Free Software
 * Foundation, Inc., 51 Franklin St, Fifth Floor, Boston, MA 02110-1301, USA
 */

/* Chinese text is encoded in UTF-8 */
#pragma code_page(65001)

LANGUAGE LANG_CHINESE, SUBLANG_CHINESE_TRADITIONAL

STRINGTABLE
{
    IDS_CERT_POLICY "憑證策略"
    IDS_POLICY_ID "策略識別碼: "
    IDS_POLICY_QUALIFIER_INFO "策略限定元資訊"
    IDS_POLICY_QUALIFIER_ID "策略限定元識別號="
    IDS_CPS "CPS"/*認證做法說明 */
    IDS_USER_NOTICE "使用者通知"
    IDS_QUALIFIER "限定元"
    IDS_NOTICE_REF "通知參考"
    IDS_ORGANIZATION "組織="
    IDS_NOTICE_NUM "通知數字="
    IDS_NOTICE_TEXT "通知文字="
}
