/*
 * Traditional Chinese Resources for WLDAP32
 *
 * Copyright 2005 Hans Leidekker
 * Sync to Wine by Henry Tang Ih 2016, and Aobi Chan CL 2020
 *
 * This library is free software; you can redistribute it and/or
 * modify it under the terms of the GNU Lesser General Public
 * License as published by the Free Software Foundation; either
 * version 2.1 of the License, or (at your option) any later version.
 *
 * This library is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
 * Lesser General Public License for more details.
 *
 * You should have received a copy of the GNU Lesser General Public
 * License along with this library; if not, write to the Free Software
 * Foundation, Inc., 51 Franklin St, Fifth Floor, Boston, MA 02110-1301, USA
 */

/* Chinese text is encoded in UTF-8 */
#pragma code_page(65001)

LANGUAGE LANG_CHINESE, SUBLANG_CHINESE_TRADITIONAL

STRINGTABLE
{
    0 "成功"
    1 "操作錯誤"
    2 "協定錯誤"
    3 "超出了時間限制"
    4 "超出了大小限制"
    5 "比較為假"
    6 "比較為實"
    7 "認方法不受支援"
    8 "要求強力認證"
    9 "參照 (v2)"
    10 "參照"
    11 "超出了管理限制"
    12 "不得使用關鍵副檔名"
    13 "要求機密性"
    14 "SASL Bind in Progress"
    15 ""
    16 "沒有此類屬性"
    17 "未定義的型態"
    18 "不適當的匹配"
    19 "限制違規"
    20 "屬性或值存在"
    21 "無效的語法"
    22 ""
    23 ""
    24 ""
    25 ""
    26 ""
    27 ""
    28 ""
    29 ""
    30 ""
    31 ""
    32 "沒有此類物件"
    33 "別名問題"
    34 "無效的 DN 語法"
    35 "是枝葉"
    36 "別名去除參考的問題"
    37 ""
    38 ""
    39 ""
    40 ""
    41 ""
    42 ""
    43 ""
    44 ""
    45 ""
    46 ""
    47 ""
    48 "不適當的認證"
    49 "無效的憑據"
    50 "不足的權限"
    51 "忙碌"
    52 "不得使用"
    53 "無進行意願"
    54 "偵測到迴圈"
    55 ""
    56 ""
    57 ""
    58 ""
    59 ""
    60 "缺少排序控制"
    61 "索引範圍錯誤"
    62 ""
    63 ""
    64 "命名違規"
    65 "物件類別違規"
    66 "於非尾節點不允許"
    67 "於 RDN 不允許"
    68 "已經存在"
    69 "沒有物件類別方法"
    70 "結果太大"
    71 "影響多重 DSAs"
    72 ""
    73 ""
    74 ""
    75 ""
    76 ""
    77 ""
    78 ""
    79 ""
    80 "其他"
    81 "伺服器停機"
    82 "本地錯誤"
    83 "編碼錯誤"
    84 "解碼錯誤"
    85 "逾時"
    86 "認證不明的"
    87 "篩選器錯誤"
    88 "使用者已取消"
    89 "參數錯誤"
    90 "沒有記憶體"
    91 "無法連線到 LDAP 伺服器"
    92 "動作不受這個版本的 LDAP 協定所支援"
    93 "在訊息中找不到指定的控制"
    94 "在訊息中沒有結果呈現"
    95 "回傳了更多結果"
    96 "處理參照時產生迴圈"
    97 "超出的參照躍點限制"
}
